html, body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%;
}

#threshold {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(255,255,255,0.05), transparent);
}
